:root {
  --accent: #2698ba;
}

::selection {
  background: var(--accent);
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking-dot {
  animation: blink 1s infinite;
}

.blinking-cursor {
  animation: blink 0.75s step-end infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
